import(methods)
import(DBI)
import(RSQLite)
importClassesFrom(oligoClasses, FeatureSet, GeneFeatureSet)
importMethodsFrom(oligoClasses, db)
importMethodsFrom(Biobase, exprs, sampleNames, phenoData,protocolData)
importMethodsFrom(oligo, rma)

importFrom(Biobase, assayDataNew)
importFrom(oligo, basicRMA)

importClassesFrom(VariantAnnotation, ScanVcfParam)
importFrom(VariantAnnotation, scanVcf, ScanVcfParam, scanVcfHeader, header, vcfWhich, 'vcfWhich<-')
importFrom(reshape2, melt)
importClassesFrom(Biostrings, PDict, DNAStringSet, MIndex)
importFrom(Biostrings, matchPDict, reverseComplement, unlist)
importClassesFrom(BSgenome, BSgenome)
importClassesFrom(GenomicRanges, GRanges)
importFrom(GenomicRanges, as.data.frame)

importClassesFrom(Biobase, NChannelSet, eSet, VersionedBiobase, Versioned)

importClassesFrom(graph, graphNEL)
importFrom(graph, graphNEL, ugraph)
importFrom(RBGL, sp.between)

#core functions for parsing vcf files into a database
export(populate.db.tbl.schema.list, make.vcf.table, create.sanger.mouse.vcf.db)

exportClasses(VariantMaskParams, TableSchemaList, VcfDB)

#methods for VariantMaskParams
export(maskDb, validProbeQuery,getProbeDf, VariantMaskParams)

#methods for TableSchemaList
export(createTable, insertStatement, mergeStatement, searchTables, searchCols, searchDict, SangerTableSchemaList)

#methods for VcfDB
export(tbsl, vcfDb)

#export other functions for use with oligo
export(maskRMA)

#example data
export(om.vcf.file, om.tab.file, om.db.file, om.lo.file, test.pd.1.0.st.v1)
