import(methods)
import(DBI)
import(RSQLite)
import(poplite)

importClassesFrom(oligoClasses, FeatureSet, GeneFeatureSet)
importMethodsFrom(oligoClasses, db)
importMethodsFrom(Biobase, exprs, sampleNames, phenoData,protocolData)
importMethodsFrom(oligo, rma)

importFrom(Biobase, assayDataNew)
importFrom(oligo, basicRMA)

importClassesFrom(VariantAnnotation, ScanVcfParam)
importFrom(VariantAnnotation, scanVcf, ScanVcfParam, scanVcfHeader, header, vcfWhich, 'vcfWhich<-')
importFrom(reshape2, melt)
importClassesFrom(Biostrings, PDict, DNAStringSet, MIndex)
importFrom(Biostrings, subseq, PDict, matchPDict, reverseComplement, unlist, DNAStringSet)
importClassesFrom(BSgenome, BSgenome)
importClassesFrom(GenomicRanges, GRanges)
importFrom(GenomicRanges, as.data.frame, GRanges)

importClassesFrom(Biobase, NChannelSet, eSet, VersionedBiobase, Versioned)

importFrom(GenomeInfoDb, seqnames, seqlevelsStyle, Seqinfo, keepSeqlevels, seqlengths)

importFrom(S4Vectors, Rle, values)

importFrom(IRanges, shift, IRanges)

#core functions for parsing vcf files into a database
export(make.vcf.table, create.sanger.mouse.vcf.db)

exportClasses(VariantMaskParams, VcfDB)

#methods for VariantMaskParams
export(maskDb,getProbeDf, VariantMaskParams)

#methods for TableSchemaList--may not be part of sanger tableschemalist, really need to export searchTables etc?
export(searchTables, searchCols, searchDict, SangerTableSchemaList)

#methods for VcfDB

#export other functions for use with oligo
export(maskRMA, getProbeVars)

#example data
export(om.vcf.file, om.tab.file, om.db.file, om.lo.file, test.pd.1.0.st.v1)
